[Unit]
Description=Run Octra Vitals snapshot updater

[Timer]
Unit=octra-vitals-updater.service
OnBootSec=2min
OnCalendar=*:0/15
RandomizedDelaySec=1min
Persistent=true

[Install]
WantedBy=timers.target
